.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
app/src/.DS_Store
app/.DS_Store
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release/
all.zip
crowdin.properties
all533550257099936/
keystore.properties
app/mapping.txt
app/proguard-configuration.txt
.kotlin/
